.login{
    margin: 4vh 0;
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title{
    font-size: 24px;
    line-height: 28.13px;
}