.header{
    background-color: aliceblue;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid #F6511D;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.menu .link{
    text-decoration: none;
    color: #4b2142;
    font-weight: bold;
}

.align{
    width: 1024px;
    margin: auto;
}

.align h3{
    padding-top: 30px;
}